@model IEnumerable<ModLearn.Models.Team>
@{
    ViewBag.Title = "Home Page";
}

@foreach (var team in Model)
{
    @team.Name

    <ul>

        @foreach(var player in team.Players.ToList())
        {
        <li>@player.Name</li>
        }
    </ul>
}