@model IEnumerable<ModLearn.Models.Team>
@{
    ViewBag.Title = "Home Page";
}


@using (Html.BeginForm("TeamOf", "Home", FormMethod.Get))
{
    <fieldset>
        <div class="form-group">
            <p>Enter the team: </p>
            <input type="text" class="form-control" name="Name" value="" />

        </div>
        <p><input id="submitButton" class="btn btn-primary" type="submit" value="Подтвердить" /></p>

    </fieldset>
}

<br />

<h3>All teams</h3>


@foreach (var team in Model)
{
    @team.Name

    <ul>

        @foreach (var player in team.Players.ToList())
        {
            <li>@player.Name</li>
        }
    </ul>
}